/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgba(112,134,158,255);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
/*h1, h3, p{
    color:rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
} */

h1{
    color:rgb(158, 194, 252);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: xx-large;
}
    
h2{
    color:rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h3{
    color:rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

p{
    color:rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgba(112,134,158,255);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width:440px;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(158, 194, 252);

    
}
    
