/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgba(112,134,158,255);
    background-image: url(hembild.png); /* DET ÄR MLÖJLIGT ATT TA BORT DENNA RAD; hembild.png; sasvinge.blur2.png; hembild.edited2.png; sasvinge.png; IMG_2210.blurred.png*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80px;
    display: flex;
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
/*h1, h3, p{
    color:rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
} */

.wrap{
    text-align: center;
}

#link1home{
    background-color: rgb(87, 88, 120);
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    padding: 11px 40px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}


#link2project{
    background-color: rgb(87, 88, 120);
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    padding: 11px 40px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#link3portfolio{
    background-color: rgb(87, 88, 120);
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    padding: 11px 40px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#link4about{
    background-color: rgb(87, 88, 120);
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    padding: 11px 40px; /*suggested: 15px 30px*/
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#link1home:hover {opacity: 0.9} 
#link2project:hover {opacity: 0.9} 
#link3portfolio:hover {opacity: 0.9} 
#link4about:hover {opacity: 0.9} 


h1{
    color:rgb(255, 255, 255); /*182, 208, 250*/
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 36px;
}
    
ak{ /* Alicja Kobayashi for homepage*/
    color:rgb(255, 255, 255); /*182, 208, 250*/
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 26px;
}

h2{
    color:rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h3{
    color:rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

p{
    color:rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.myWeek1{
    margin: auto;
    max-width: 600px;
    
}

.myWeek5{
    margin: auto;
    max-width: 800px;
    
}


/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width:440px;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(158, 194, 252);

    
}

